.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 12px 0 0;
}

.card__caption {
  /* Account for overflow */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 388px;

  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  margin: 0;
}

.card__like-btn {
  background-image: url(../images/like_icon.svg);
  background-size: cover;
  border: 0;
  width: 23px;
  height: 20px;
  opacity: 0.4;
  cursor: pointer;
  padding: 0;
}

.card__like-btn_liked {
  background-image: url(../images/liked_icon.svg);
  opacity: 1;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_liked:hover {
  opacity: 0.5;
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__caption {
    font-size: 16px;
    line-height: 100%;
    max-width: 260px;
  }
  .card__like-btn {
    width: 20px;
    height: 18px;
    background-position: center;
  }
}
