.header {
  background-color: #fff;
  display: flex;
  padding: 10px 0;
  justify-content: center;

  /*sticky header */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header__logo {
  width: 94px;
  height: 26px;
}
