.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__details {
  display: flex;
  flex-direction: column;
}

.profile__name {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;

  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  margin: 0 0 12px;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;

  font-weight: 500;
  opacity: 0.7;
}
.profile__edit-btn {
  margin-top: auto;
  color: #212121;
  opacity: 0.7;
  cursor: pointer;
  background-color: #fcf5e5;
  border: 0;
  text-align: left;
  padding: 0;
  line-height: 16px;
  font-weight: 500;
  display: flex;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__edit-icon {
  padding-right: 8px;
}

.profile__post-btn {
  margin-left: auto;
  border: 0;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  width: 149px;
  height: 52px;
  margin-top: auto;
  cursor: pointer;
}

.profile__post-btn:hover {
  opacity: 0.8;
}

.profile__post-icon {
  padding-right: 8px;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    max-width: 288px;
    text-align: center;
  }
  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }

  .profile__details {
    margin-bottom: 20px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
  }

  .profile__edit-btn {
    margin-top: 32px;
    align-self: center;
  }

  .profile__post-btn {
    margin-left: 0;
    width: 100%;
  }
}
